device_type: rk3399-rock-pi-4b
job_name: {{ job_name }}
visibility: public
timeouts:
  job:
    minutes: 60
  action:
    minutes: 60
  connection:
    minutes: 2

actions:

- deploy:
    to: downloads
    images:
      firmware:
        url: {{ firmware_url["ts-firmware-rockpi4b.rootfs.wic.gz"] }}
        compression: gz
      os:
        url: {{ os_url["trs-image-trs-qemuarm64.rootfs.wic.bz2"] }}
        compression: bz2

      script:
        url: https://git.linaro.org/ci/job/configs.git/plain/ledge/ts/scripts/ts-merge-images.sh
      {% for name, test_file in test_files: %}
      {{ name }}:
        url: {{ base_build_url }}/{{ test_file }}
      {% endfor %}
    postprocess:
      docker:
        image: debian
        steps:
          - 'apt-get update'
          - 'apt-get install -qy fdisk gdisk'
          - 'fdisk -l ts-firmware-rockpi4b.rootfs.wic'
          - 'fdisk -l trs-image-trs-qemuarm64.rootfs.wic'
          - 'bash ts-merge-images.sh ts-firmware-rockpi4b.rootfs.wic trs-image-trs-qemuarm64.rootfs.wic'
          - 'fdisk -l ts-firmware-rockpi4b.rootfs.wic'

- deploy:
    to: flasher
    images:
      image:
        url: downloads://ts-firmware-rockpi4b.rootfs.wic
        partition: 6
        format: ext4
        overlays:
          lava: true

- boot:
    method: minimal
    timeout:
      minutes: 15
    auto_login:
      login_prompt: "login:"
      username: "root"
    prompts:
      - root@(.*):[/~]#

- test:
    timeout:
      minutes: 30
      skip: false
    interactive:
    - name: sc-demo
      prompts:
        - root@(.*):[/~].*#
      echo: discard
      script:
      {% for name, test_file in test_files %}
      - name: download-{{ name }}
        command: "wget --progress=dot:giga http://{SERVER_IP}/tmp/{JOB_ID}/downloads/common/{{ test_file }} -O /tmp/{{ test_file }}"
      {% endfor %}
      - name: install-sc-demo
        command: "cd /tmp && chmod +x sc-demo && ./sc-demo install"

- test:
    timeout:
      minutes: 30
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: sdc-test
          description: "software defined camera testing"
          os:
          - any
          scope:
          - functional
        run:
          steps:
          - lava-test-case sdc --shell /tmp/sc-demo test
      from: inline
      name: sdc-test
      path: inline/sdc-test.yaml
